# This is Git's per-user configuration file.
[core]
	editor = vim

[alias]
	s = status
	d = diff
	a = add

# Specific config for personal github repos
[includeIf "gitdir:~/github/"]
	path = ~/github/.gitconfig

# Maxeda git config
[includeIf "gitdir:~/maxeda/"]
	path = ~/maxeda/.gitconfig

