# This is Git's per-user configuration file.
[core]
	editor = vim

[alias]
	s = status
	d = diff
	a = add

# Specific config for personal github repos
[includeIf "gitdir:~/gh_personal/"]
	path = ~/gh_personal/.gitconfig

# Specific config for work github repos
[includeIf "gitdir:~/gh_work/"]
	path = ~/gh_work/.gitconfig

[url "git@github.com:"]
	insteadOf = https://github.com/
